{%  extends 'main_page.html' %}
{% load bootstrap4 %}

{% block content %}
    <div style="text-align: center; max-width: 500px; margin: 4rem auto">
    <div class="mb-4 pt-0 pb-4" style="font-family: 'EF_WAKEUP';">
        <h4>관리자 회원 탈퇴</h4>
    </div>

    <div class="jumbotron pt-3 pb-4" style="text-align: left;">
        <p class="pt-3" style="margin-bottom: 1rem; font-size: 1.4rem;text-align:center;font-family: 'GangwonEduPowerExtraBoldA';">
            탈퇴 전 확인하세요</p>
        <div class="jumbotron pt-3 pb-1"  style="background-color:#ffffff;">
            <div>
                <p class="text_p">탈퇴하시면 이용 중인 시스템과 계정이 삭제 되며 모든 내역은 복구가 불가능합니다.</p>
                <p class="text_p">제출을 누르시면 탈퇴가 완료됩니다.</p>
                <p class="text_p">본 서비스가 도움이 되셨길 바랍니다.</p>
            </div>
        </div>
        <div class="pt-0 pb-1">
        {% if Post.important is True %}
            <label> 
            <input type = "checkbox" name = "important" value ="True" checked> 안내사항을 이해하였으며 주의사항을 확인하였습니다</label> 
            {% else %}
            <label> <input type = "checkbox" name = "important" value = "False"> 안내사항을 이해하였으며 주의사항을 확인하였습니다<br>
            </label> 
            {% endif %}
        </div>
    </div>
        <form action="{% url 'appaccount:delete' pk=user_name.pk %}" method="post">
            {%  csrf_token %}
            <input type="submit" class="btn btn-dark rounded-pill col-6 mt-4"  style="font-family: 'EF_WAKEUP';">
        </form>
    </div>
{% endblock %}